/*
Couleur jaune : #efc371
Hover #dd925f
Couleur violette : #ae94c0
couleur gris clair : #302F2F
couleur gris foncé: #1d1f20
couleur bleu code :#7cdcf0
couleur orange code : #b85b2c
couleur orange foncé code :#9c3a20
coleur verte code : #93c8a3
couleur blkeu foncé html : #3890d6
*/
h1{
    
    text-align: center;
    font-family: "Space Mono", monospace;
    color: #ae94c0;
    margin-left:20px;
    margin-top: 20px;

}

p{
    font-size: 1.5em;
    text-align: center;
    font-family: "Space Mono", monospace;
    color: #efc371;
    margin-left:20px;
    margin-top: 25px;

}
span{
  font-size: 1.5em;
    text-align: center;
    font-family: "Space Mono", monospace;
    margin-left:20px;
    margin-top: 25px;

}
span.bleu_clair{
  color: #7cdcf0;
}

span.rouge_mat{
  color:  #9c3a20
}
.content-left{
    position:relative;
    float:left;
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: whitesmoke solid 1px;
    border-radius: 6%;
    box-shadow: 8px 8px 8px #302F2F ;
    margin-left: 10px;

}
/*Image ronde*/
.roundedImage{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
        margin-left: auto;
        margin-right: auto; 
    overflow:hidden;
    -webkit-border-radius:160px;
    -moz-border-radius:160px;
    border-radius:160px;
    padding:10px;
    border: 1px whitesmoke solid;
    width:200px;
    height:200px;
  }

  .content-right{
    position: relative;
    float: right;
    height: 800px;
    width: 1250px;
    border: whitesmoke solid 1px;
    border-radius: 3%;
    box-shadow: 8px 8px 8px #302F2F ;
    margin-right: 20px;
  }

  #about-text{
    text-align: center;
    margin-top:50px;
    margin-right: 10px;
    margin-left: 10px;
    


  }